:root {
    --primary-color:#e50914;
    --dark-color:#141414;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background: #000;
    color: #999;
}

ul {
    list-style-type: none;
}

h1, h2, h3, h4 {
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

p {
    margin: 0.5rem 0;
}

img {
    width: 100%;
}

.showcase {
    width: 100%;
    height: 93vh;
    position: relative;
    background-image: url(images/NG-en-20230123-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.showcase::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: inset 120px 100px 250px #000 ;
}

.showcase-top {
    position: relative;
    height: 90px;
    z-index: 2;
}

.showcase-content{
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 4rem;
    z-index: 2;
}

.showcase-content h1{
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1.1;
    margin: 0 0 2rem;
}

.showcase-content p {
    text-transform: uppercase;
    color: #fff;
    font-weight: 100;
    font-size: 1rem;
    line-height: 1rem;
    margin: 0 0 2rem;
}

.showcase-top img{
    width: 130px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.showcase-top a {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}

/* Tabs */
.tabs {
    background: var(--dark-color);
    padding-top: 1rem;
    border-bottom: 3px solid #3d3d3d;
}

.tabs .container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:1rem ;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tabs p {
    font-size: 1rem;
    padding-top: 0.5rem;
}

.tabs .container > div {
    padding: 1rem 0;
}

.tabs .container > div:hover {
    color: #fff;
    cursor: pointer;
}

.tab-border {
    border-bottom: var(--primary-color) 4px solid;
}

/* Tab Content */
.tab-content {
  background: #000;
  color: #000;
}

#tab-1-content .tab-1-content-inner {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:0 2rem;
}

#tab-2-content .tab-2-content-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-items: center;
   margin-top: 30px;
}

#tab-2-content .tab-2-content-bottom {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
   grid-gap: 2rem;
   text-align: center;
}

/* Container */
.container {
    max-width: 70%;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

/* Text Styles */
.text-xl {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.text-lg {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #fff;
}

.text-md {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #fff;
}

.text-align{
    text-align: center;
}

.text-dark {
    color: #999;
}

/* Button */
.btn {
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    padding: 0.4rem 1.2rem;
    font-size: 0.9rem;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    outline: none;
    box-shadow: 0 1px 0 rgba(0,0,0, 0.45);
}
.btn:hover {
    opacity: 0.9;
}

.btn-rounded {
    border-radius: 5px;
}

.btn-xl {
    font-size: 1.2rem;
    padding: 1rem 1.4rem;
    text-transform: uppercase;
}

.btn-lg {
    font-size: 0.8rem;
    padding: 0.8rem 1.3rem;
    text-transform: uppercase;
    text-align: center;
}